<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Put your Affiliate Link
        </title>

        <link rel = "icon" href ="/icons/logo.png" type = "image/x-icon"> 

    </head>

    <style>
    
        .affiliate-hover:hover{
            cursor:pointer;
            color:rgb(6, 6, 128);
        }

        #linkInput {
            width:100%;
            height:100%;
            opacity:.95;
            top:0;
            left:0;
            display:none;
            position:fixed;
            background-color:#313131;
            overflow:auto
        }

        .or{
            position: absolute;
            top: 180px;
            left: 330px;
            width: 40px;
            height: 40px;
            background: #efefef;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
            line-height: 40px;
            text-align: center;
        }

        .x{
            position: absolute;
            top: 50px;
            right: 497px;
            width: 40px;
            height: 40px;
            background: #efefef;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }

    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <body class="container text-center">

        <%if(isAdmin){%>

            <h1 style="margin:20px; margin-bottom:-20px" class="affiliate-hover text-center" onclick="itemPopup('linkInput')">Set up your Affiliate Link Here</h1>

            <h3>OR</h3>

        <%}%>

        <!-- <span style='text-align:center'>
            <button class="btn btn-info text-center">Setup Link</button>
        </span> -->

        <hr>

        <div style="margin-bottom:20px;">

            <%linkinputs.forEach(function(link){%>

            <span style="margin:30px">

                <%-link.iframe%>

            </span>

            <%})%>

        </div>

        <hr>

        <h3>Search in Amazon Store</h3>

        <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="putyourlink-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="IN"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="336"; amzn_assoc_height ="280"; amzn_assoc_default_search_category ="Electronics"; amzn_assoc_default_search_key ="";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=IN"></script>
        
        <br>

        <div id="linkInput">

            <div id="popupContact">
                
                <br><br><br>
                
                <span onclick="div_hide('linkInput')" style="float:right" class="x">X</span>
        
                <form action="/linkInput" method="POST">
        
                    <div  style="margin-top:20px; width:350px; text-align: center" class="container ">
            
                        <div style="margin-bottom:20px" class="card text-center">

                            <div class="card-header">
                                Paste only iFrame link
                            </div>
                                
                            <textarea name="linkInput[iframe]" rows="8"></textarea>
                            
                        </div>
            
                        <button class="btn btn-success" type="submit">POST</button>
            
                    </div>
        
                </form>
                
            </div>
        
        </div>
            

    </body>


    <script>
    
        function itemPopup(item){
            document.getElementById(item).style.display="block"
        }
        function div_hide(item){
            document.getElementById(item).style.display = "none";
        }

    </script>


</html>