<html>

    <title>Register Here</title>
    
    <body>
    
      <form action='/signup' method='POST'>
      
          <input name='username' >
          
          <input name='email' >
          
          <input name='password' type='password'>
          
          <input name='cpassword' type='password'>
          
          <input type='submit'>
          
      </form>
      
    </body>
    
</html>
